$bodyBackground: #f0f2f7;
$backgroundBlueHover: #f5f7fa;
$controlBorder: 1px solid #a9a9a9;

$graySupelight:	#ededed;	//серая граница между белым и белым, еле заметна




html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
	font-size:			0.875rem;	
	font-weight: 400;
}

body {
	width:				100%;
	background-color:	$bodyBackground;
	min-height:			550px;
	height:				100%;
	font-size: 1rem;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}


textarea {
	padding:	5px 0 0 8px;
	height:		30px;
	font-size:	14px;
	border:		$controlBorder;
	width:		300px;
}


select {
	height:		30px;
	width:		300px;
	font-size:	14px;
	border:		$controlBorder;
}


input[type="checkbox"] {
    margin: 0px 0px 0px 0px;
	height:		24px;
	width:		24px;
}

input[type="text"] {
	font-size:	14px;
	border:		$controlBorder;
}


p {
	padding-bottom:15px;
}

///////////////////////////////////////////////////////////////
// мелкостили




///////////////////////////////////////////////////////////////


#hiddenDiv {
	float:		left;
	width:		0px;
	height:		0px;
	overflow:	hidden;
	visibility:	hidden;
}

//////////////////////////////////////////////////////////////////////////

.container {
	margin: 0 auto 0 auto;
	height:	100%;
	overflow:hidden;
}

.containerFlex {
	@extend .container;
	display:		flex;
	flex-direction:	row;
	flex-wrap:		wrap;
	justify-content: space-between;
	align-items: 	stretch;	//	flex-start;
	align-content:	flex-start;		
}

//////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 359px) {
	.container, .containerFlex {
		width:	360px;
	}
}

@media screen and (min-width: 360px) and (max-width: 979px) {		//ТЕЛЕФОН ВН - 360
	.container, .containerFlex {
		width:	100%;
	}
}

@media screen and (min-width: 980px) and (max-width: 1270px) {
	.container, .containerFlex {
		width:	980px;
	}
}

@media screen and (min-width: 1128px)  {
	.container, .containerFlex {
		width:	1128px;
	}
}

//////////////////////////////////////////////////////////////////////////
// блок paper

@mixin mx_paper {
	width: 				100%;
	border: 			1px solid #f0f0e0;
	border-radius: 		1px;
	background-color:	#ffffff;
	padding:			30px 30px 30px 30px;
	margin:				15px 0 15px 0;
	overflow:			hidden;
}

.paper {
	@include mx_paper;
}

.paper_1_2 {
	@include mx_paper;
	width: 				548px;
}

.paper .header,
.paper_1_2 .header {
	@include mx_paper;
	padding: 0 24px 24px 0; 
	margin: 15px 0 24px 0;
	border-bottom: 1px solid #e4e4e4;
}

@mixin mx_paperA {
	border: 			1px solid #f0f0e0;
	border-radius: 		1px;
	background-color:	#ffffff;
	margin:				15px 0 15px 0;
	overflow:			hidden;
	float:				left;
	padding:			30px 30px 30px 30px;
	width: 				564px;
}

//.paperA_1_2 {
//	@include mx_paperA;
//}

.paperL_1_2 {
	@include mx_paperA;
	border-right:		1px solid #f0f0e0;
}

.paperR_1_2 {
	@include mx_paperA;
	border-left:		0px;
}

.paperRow {
	width:	100%;
}


@media screen and (min-width: 360px) and (max-width: 979px) {		//ТЕЛЕФОН ВН - 360
	.paper {
		padding: 24px 10px 24px 10px;

	}
}

.paperDemo {
	@include mx_paper;
	margin: 15px 0 15px 0;
	padding: 12px 12px 12px 12px;
	font-weight: 600;
	color: #156cef;
	font-size: 1.3rem;
}


//////////////////////////////////////////////////////////////////////////


.lightButton {
    background-color: #dfe6ed;
	height:			26px;
	padding:		7px 16px 8px 16px;
	color:			#55677d;	
	cursor:			pointer;
	border:			0px;
	border-radius: 	4px;
	font-size:		12px;
}

.lightButton:hover {
    background-color: #cfd6dd;
}

.lightButton:disabled {
	background-color:	#eeeeee;
    color: 				#cccccc;
}

.blueButton {
	height:				30px;
	background-color:	#5181b8;
	padding:			7px 16px 8px 16px;
	border:				0px;
	border-radius:		4px;
	color:				#ffffff;
	cursor: 			pointer;	
}

.blueButton:hover {
	background-color:	#6191c8;
}

.blueButton:disabled {
	background-color:	#c8c8c8;
}

.redButton {
	height:				30px;
	background-color:	#ff6864;
	padding:			7px 16px 8px 16px;
	border:				0px;
	border-radius:		4px;
	color:				#ffffff;
	cursor: 			pointer;	
}

.redButton:hover {
	background-color:	#ff7874;
}

.redButton:disabled {
	background-color:	#c8c8c8;
}


////////////////////////////////////////////////////////////////////////////

$formRowHeight : 38px;

.form {
	//width:		100%;
	//overflow:	hidden;
}

.formRow {
	width:		100%;
	min-width:	240px;
	min-height:	$formRowHeight;
	margin:		16px 0 16px 0;
	

	.label {
		float:		left;
		min-width:	20px;
		height:		$formRowHeight;
		padding:	0px 6px 0 6px;
		line-height:	$formRowHeight;	
	}

	.label:first-child {
		width:		200px;
		padding-left: 0px;
	}
	
	.label p{
		line-height:	$formRowHeight;	
	}
	
	.text p{
		line-height:	$formRowHeight;	
	}


	.control {
		height:		$formRowHeight;
		min-width:	10px;
		float:		left;
	}

	.controlChk {
		@extend .control;
		padding-top: 6px;
	}
}

$labelRowHeight: 25px;

.labelRow {
	@extend .formRow;
	min-height:	$labelRowHeight;
	margin:		10px 0 10px 0;

	.label {
		float:		left;
		min-width:	20px;
		height:		$labelRowHeight;
		padding:	0;
	}

	.label p{
		line-height:	$labelRowHeight;	
	}

	.label:first-child {
		width:		260px;
		padding:	0;
	}
}


//---------------------------------------------------------


#idBodyHeader {
	position: relative;
	width:100%;
	background-color:#090e40;
	color:#FFFFFF;
	font-size:1rem;
}


#idBodyHeader .colTitle {
	height:64px;
	min-width: 196px;
	float:	left;
	padding: 20px 0 0 0;
	font-size:	1.5rem;
	font-weight:600;
	color:	#ffffff;
}


#idBodyHeader .colTitle a{
	text-decoration:none;
	color:#ffffff;
}

@media screen and (min-width: 360px) and (max-width: 979px) {
	#idBodyHeader .colTitle{
		font-size:	1.25rem;
		width: 178px;
	}
}




#idBodyHeader .colEnter {
	height:100%;
	float:	right;
	cursor:pointer;
	font-size: 15px;
    font-weight: 600;
	font-style:italic;
}

#idBodyHeader .colEnter a{
	display:block;
	padding: 20px 10px 0 10px;
	height:100%;
	color:#ffffff;
	text-decoration:none;
	box-sizing:	border-box;
}

#idBodyHeader .colEnter a:hover{
	background-color:#3d6898;
	text-decoration:underline;
	height:100%;	
}

#idBodyHeader .colEnter a:visited{
	color:#ffffff;
}


#idBodyHeader .avatar {

	font-size:0.9rem;
	float: right;
    min-width: 120px;
    border-left: 1px solid #555555;
	padding:3px 0 3px 4px;
	height:64px;



	.colImg {
		float:right;
		padding:	4px 0px 0 4px;
	}

	.colImg img {
		border-radius: 25px;
	}

	.col1 {
		padding: 4px 0 0 0;
		float:right;
		width:140px;
		color:#ffffff;
	}

	.col1 a{
		color:#ffffff;
		text-decoration:none;
		font-weight: 600;
	}

	.col1 a:hover{
		color:#ffffff;
		text-decoration:underline;
		font-weight: 600;
	}
	
	.col2 {
		padding: 4px 0 0 0;
		float:right;
	}
	
	.col2 .row {
		height: 12px;
		color:#ffffff;
	}
	
	.col2 .row .hour{
		float: left;
		width:	30px;
		color:#ffffff;
		text-align:right;
	}
	
	.col2 .row .value{
		width:	36px;
		float: left;
		color:#ffffff;
		text-align:right;
		padding-right: 6px;
	}
	
	.col2 .counter {
		color: #ffffff;
	}

}

@media screen and (min-width: 360px) and (max-width: 979px) {
	#idBodyHeader .colTitle{
		font-size:	1.25rem;
		width: 178px;
		padding-left:4px;
	}
}




//======================================================================

#idBodyHeader2 {

	min-height:64px;
	width:100%;
	background-color:#ffffff;
	position: relative;

	.colMenu {

		float:	left;

		@mixin mx_colMenu_Point {
			float:	left;
			font-size:	1rem;
			font-weight:500;
			display:block;
			padding: 23px 12px 0 12px;
			height:100%;
		}

		.point {
			@include mx_colMenu_Point;
			color:#242425;
		}
		
		.pointDisabled {
			@include mx_colMenu_Point;
			color:$greytext;
		}

		a {
			 cursor:pointer;
			 text-decoration:none;
		}
		
		.client {
			font-weight:800;
			font-size:1.2rem;
		}

		a:hover {
			box-sizing:	border-box;
			text-decoration:none;
			color:#439aff;
		}

		a:visited {
		}
	}
}

//======================================================================



#idSiteFooter {
	float:left;
	height:66px;
	color:#4a76a8;
	font-size:14px;
	width:	100%;
	padding: 15px 0 15px 0;
	border:	1px solid #e4e4e4;
	background-color:#ffffff;
	border-radius: 2px;	
	padding: 15px 15px 15px 15px;
}

@media screen and (min-width: 360px) and (max-width: 979px) {
	#idSiteFooter{
		height:82px;
	}
}


//-------------------------------------------------

#idSiteMain {
	width:				100%;
	padding:	24px 0 24px 0;
}

#idBodyMain {
	width:				1100px;
	min-height:			400px;
	margin: 			24px 0 24px 0;
	background-color:	#ffffff;
	border:				0px solid #d7d8db;	
	border-radius:		0px;
	padding:			0px 0px 0px 0px;
}

#idBodyMain2 {
	width:				1100px;
	min-height:			400px;
	margin: 			15px auto 15px auto;
	background-color:	#ebeced;
	padding:			0px 0px 0px 0px;
}

#idBodyMain2 .column2 {
	float:left;
	margin-left: 20px;
    width: 880px;
}

#idBodyMain2 .Main {
	float:left;
	width: 880px;
	min-height:	400px;
	background-color:	#ffffff;
	border:				1px solid #d7d8db;	
	border-radius:		2px;
	padding:			0px 0px 0px 0px;
}


.listHeader {
	padding: 0 20px 0 20px;
	width: 100%;
}


@mixin mix_paper_1_3_img {
	width: 356px;
	height: 355px;
	margin-bottom:30px;
	padding: 0;
	border-radius: 1px;
}

.paper_1_3_img {
	@include mix_paper_1_3_img;
	border:	1px solid #e0e2e4;
	background-color:	#ffffff;
}

.paper_1_3_hidden {
	@include mix_paper_1_3_img;
}

.paper_1_3_img .boxText {

	padding: 24px 24px 24px 24px;

	p {
		padding-top: 1px;
	}

}

///////////////////////////////////////////////////////////////////////////



.BarHead {
	width:	100%;
	height:	55px;
	font-size:16px;
	padding: 0 20px 0 20px;
	border-bottom:	1px solid #e7e8ec;
	color:	#000000;
	text-align:	left;
	display:table;
}

.BarHead .text{
	display:table-cell;
	vertical-align:middle;
	font-size:16px
}

.BarClearHead2 {
	width:	100%;
	height:	16px;
}

.BarSelectAlbums {
	width:100%;
    overflow: hidden;
}


.BarClearAlbumProp {
	height:	16px;
	width:100%;
	border-bottom:	1px solid #e7e8ec;
}


.SrcAlbumColumn {
	float:			left;
	width:			350px;
	padding: 		15px 20px 15px 20px; 
	border-right:	1px solid #e7e8ec
}

.ColumnSrcHead {
	width:	100%;
	height:	32px;
	text-align:center;
}

.DestAlbumColumn {
	float:left;
	width:	430px;
	padding: 15px 20px 15px 20px; 
}

.ColumnDestHead {
	width:	100%;
	height:	32px;
	text-align:center;
}


/////////////////////////////////////////


.getUrlRow {
	height:	50px;
	width:	100%;
	overflow:hidden;
}

#idTxtGetUrl {
	width:	500px;
}


.getUrlRowSelectOffset {
	width:		100%;
	height:		50px;
	margin-top:	100px;	
}

.getUrlTxtOffset {
	font-size:	12px;
	margin:		2px 0 4px 0;
}

#idSelectOffset {
	height:		24px;
	width:		50px;
	font-size:	12px;
}

.getUrlRowButtonStart {
	width:		100%;
	height:		50px;
	margin-top:	100px;	
}

.getUrlButtonGo {
	margin:		0 0 0 140px;		
}


///////////////////////////////////////////////


.DestRowGroup {
	position:relative;
	height:	50px;
	overflow:hidden;
	width:	100%;
}

.txtGroup {
	font-size:	12px;
	margin:		2px 0 4px 0;
}

#idSelectGroup {
	float:left;
	height:		30px;
	width:		300px
}

#idImgDestGroupPhoto50 {
	position:	absolute;
	left: 		318px;
	top:		0px;
	height:		50px;
	width:		50px;
	margin:		0 0 0 0px;
}


//////////////////////////////////////////////////


.DestRowAlbum {
	position:relative;
	height:	50px;
	overflow:hidden;
	width:	100%;
	margin:	20px 0 0 0;
}

.txtAlbum {
	font-size:	12px;
	margin:		2px 0 4px 0;
}

#idSelectAlbum {
	float:left;
	height:		30px;
	width:		300px
}

#idChkOldAlbum {
	position:absolute;
	left: 	318px;
	top:	28px;
}

/////////////////////////////////////////////////

.DestRowNewAlbum {
	position:relative;
	height:	50px;
	overflow:hidden;
	width:	100%;
	margin:	20px 0 0 0;
}

.txtNewAlbum {
	font-size:	12px;
	margin:		2px 0 4px 0;
}

#idTxtNewAlbum {
	height:		30px;
	width:		300px;
}

#idChkNewAlbum {
	position:absolute;
	left: 	318px;
	top:	28px;
}

///////////////////////////////////////
.DestRowDate {
	position:relative;
	height:	54px;
	overflow:hidden;
	width:	100%;
	margin:	20px 0 0 0;
}

.txtDate {
	font-size:	12px;
	margin:		2px 0 4px 0;
}

#idDate {
	height:		30px;
	width:		300px;
}

#idChkDate {
	position:absolute;
	left: 	318px;
	top:	28px;		
}


//////////////////////////////////////



.SelectAllButtons {
	float: right;
}


#idButtonSelectAll {
	float:right;
	margin:	 0 0 0 0;
}


#idButtonUnselectAll {
	float:right;
	margin:	 0 15px 0 0;
}


////////////////////////////////////////////////////////////


#HiddenData {
	position:absolute;
	visibility:	hidden;
	width:	0px;
	height:	0px;
	overflow: hidden;
}


.HiddenInner {
	position:absolute;
	visibility:	hidden;
	top:0px;
	left: 0px;
	width:	0px;
	height:	0px;
	overflow: hidden;
}

.ImgPreview {
	position: relative;
	height: 100%;
}

.ImgPreview .chekbox {
	position: absolute;
	bottom: 6px;
	left: 6px;
}

.ImgPreview .tick {
	position: absolute;
	bottom: 6px;
	right: 6px;
	visibility:hidden;
	height: 64px;
    width: 64px;	
}


#spanLoadedValue1ID, #spanLoadedValue2ID {
	color:#FF0000;
	font-weight:bold;
}

#spanTimerID {
	color:	#FF0000;
	font-weight	:bold;
}


////////////////////////////////////////////////////////////////////////////
//календарь

@mixin mx_Calendar($width,$margin-left){
		font-size: 1.125rem;
		font-weight: 400;
		width: $width;
		height: 100%;
		float:left;
		margin-left: $margin-left;
}

.Calendar {
	.selCalendarDay {
		@include mx_Calendar(48px,0);
	}

	.selCalendarMonth {
		@include mx_Calendar(80px,8px);
	}

	.selCalendarYear {
		@include mx_Calendar(64px,8px);
	}

	.selCalendarHour {
		@include mx_Calendar(48px,56px);
	}

	.selCalendarMinut {
		@include mx_Calendar(48px,0px);	//там разделитьель исммвол ':'
	}
}


////////////////////////////////////////////////////////////////////////////
// определение mt12 итп должно быть НИЖЕ по файлу css !!!! чем прочие основные стили 


.mt12 {
	margin-top:12px;
}

.mt16 {
	margin-top:16px;
}

.mt24 {
	margin-top:24px;
}

.mt32 {
	margin-top:32px;
}

.mt50 {
	margin-top:50px;
}


.ml8 {
	margin-left:8px;
}

.ml12 {
	margin-left:12px;
}

.ml16 {
	margin-left:16px;
}

.ml24 {
	margin-left:24px;
}

.marginAuto {
	margin: 0px auto 0px auto;
	float: none !important;
}
