/*============================================*/
/*reboot.css*/


/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1rem;
    font: inherit;
    vertical-align: baseline;
    color: #000000;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
    box-sizing: border-box;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    line-height: 1.15;
}

img, button, input, label, select, textarea {
    display: block;
}

html, body, div, form, table,
img, button, input, label, select, textarea {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0px solid #000000;
}

button, input, label, select, textarea {
    border: 1px solid #e0e0e0;
}

textarea {
    padding: 5px 0 0 8px;
}

!*типичная синяя кнопка*!
.blueButton {
    height: 30px;
    background-color: #5181b8;
    padding: 7px 16px 8px 16px;
    border: 0px;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    width: 80px;
}

.blueButton:hover {
    background-color: #6191c8;
}

!*типчиный инпут*!
input {
    padding: 0 0 0 6px;
    font-size: 0.875rem;
    border:  1px solid #e0e0e0;
}*/

/*============================================*/
h1 {
    font-size: 20px;
}

.body-header {
    border-radius: 0px;
}

.body-full-width {
    width:  100%;
    min-height: 100vh;
    background: #373B40;
}

.body-job-width {
    background: white;
    min-height: 100vh;
    border: 1px solid #dddddd;
}

/*============================================*/

/* используется как outer при выранивании текста в блоке */
.vertical-align div {
    display: inline-block;
    vertical-align: middle;
    max-width:  96%;    /* При 100% съезжает верстка */
}

.vertical-align:before {
    content: '';
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle;
}





/*====================================================================*/


.p01 {


    $borderlight: #dcdce6;
    $rowHeight: 58px;

    .workersTableFilter {
        margin: 0 4px 0 4px;
        height: 100px;
        padding: 10px 0 0 4px;
        border-bottom: 1px solid $borderlight;
    }

    .workersTableFilter__row {
        height: 32px;
    }

    .workersTableFilter__label {
        float: left;
        height: 100%;
    }

    #workersTableFilter__calendar {
        height: 24px;
        font-size: 14px;
        float: left;
        margin-left: 10px;
    }


    #workersTableFilter__curMonthButton {
        float: left;
        margin-left: 10px;
        height: 24px;
        width: 120px;
        font-size: 12px;
    }


    /*-----------------------------*/
    $borderlight: #dcdce6;
    $rowHeight: 64px;

    .workersTable {
        margin: 12px 20px 12px 20px;
        border-top: 1px solid $borderlight;
    }

    .workersTable__row {
        display: block;     /*по ширине содержимого*/
        float: left;        /*по ширине содержимого*/

        height: $rowHeight;
        border-bottom: 1px solid $borderlight;
        padding: 0px 6px 0px 6px;
    }

    .workersTable__cell {
        float: left;
        height: $rowHeight - 16; /* вычитаем margin */
        padding: 14px 6px 0 6px;
        margin: 8px 0 8px 0;
        border-left: 1px solid $borderlight;
    }

    .workersTable__foto {
        @extend .workersTable__cell;
        padding-top: 0px;
        width: 66px;
        /*margin: 8px 0 0 0;*/
        border-left: 0px;   /*уберем лишний бордер*/
    }


    .workersTable__idWorker {
        @extend .workersTable__cell;
        width: 50px;
        text-align: right;
    }

    .workersTable__idWorker_header {
        @extend .workersTable__idWorker;
        text-align: center;
        padding: 20px 0 0 0;
    }

    .workersTable__name {
        @extend .workersTable__cell;
        width: 120px;
    }

    .workersTable__name_header {
        @extend .workersTable__name;
        text-align: center;
        padding: 20px 0 0 0;
    }


    .workersTable__family {
        @extend .workersTable__cell;
        width: 160px;
    }

    .workersTable__family_header {
        @extend .workersTable__family;
        text-align: center;
        padding: 20px 0 0 0;
    }


    .workersTable__profession {
        @extend .workersTable__cell;
        width: 100px;
    }

    .workersTable__profession_header {
        @extend .workersTable__profession;
        text-align: center;
        padding: 20px 0 0 0;
    }

    .workersTable__fixSalary {
        @extend .workersTable__cell;
        width: 80px;
        text-align: right;
    }

    .workersTable__fixSalary_header {
        @extend .workersTable__fixSalary;
        text-align: center;
        padding: 20px 0 0 0;
    }


    .workersTable__bonusSalary {
        @extend .workersTable__cell;
        width: 80px;
        text-align: right;
    }

    .workersTable__bonusSalary_header {
        @extend .workersTable__bonusSalary;
        text-align: center;
        padding: 20px 0 0 0;
    }


    .workersTable__totalSalary {
        @extend .workersTable__cell;
        width: 80px;
        text-align: right;
    }

    .workersTable__totalSalary_header {
        @extend .workersTable__totalSalary;
        text-align: center;
        padding-top: 20px;
    }

}




