@charset "UTF-8";
html, body {
  min-height: 100%;
  /*НЕ УБИРАТЬ !*/
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font: inherit;
  vertical-align: baseline;
  color: #000000;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  line-height: 1.15;
}

img, button, input, label, select, textarea {
  display: block;
}

html, body, div, form, table,
img, button, input, label, select, textarea {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0px solid #000000;
}

input {
  padding: 0 0 0 6px;
  font-size: 0.875rem;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/openSans/OpenSans-Light.woff2") format("woff2"), url("../fonts/openSans/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/openSans/OpenSans-Regular.woff2") format("woff2"), url("../fonts/openSans/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/openSans/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/openSans/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/openSans/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/openSans/OpenSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/openSans/OpenSans-Bold.woff2") format("woff2"), url("../fonts/openSans/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
.h1, h1 {
  font-size: 2.5rem;
}

.h2, h2 {
  font-size: 1.875rem;
}

.h3, h3 {
  font-size: 1.5rem;
}

.h4, h4 {
  font-size: 1.25rem;
}

.h5, h5 {
  font-size: 1.125rem;
}

.h6, h6 {
  font-size: 1rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  color: #090e40;
  padding-bottom: 8px;
  font-weight: 600;
}

.textDisabled {
  color: #959595;
}

.textBold {
  font-weight: 600;
}

.textRed {
  color: #ff0000;
  font-weight: 600;
}

.textBlue {
  color: #439aff;
  font-weight: 600;
}

.textYellow {
  color: #f5a623;
  font-weight: 600;
}

.textGreen {
  color: #7ed321;
  font-weight: 600;
}

.fs10 {
  font-size: 10px;
}

.fs24 {
  font-size: 24px;
}

.em08 {
  font-size: 0.8em;
}

.colorLGrey {
  color: #0A0A0A;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-size: 0.875rem;
  font-weight: 400;
}

body {
  width: 100%;
  background-color: #f0f2f7;
  min-height: 550px;
  height: 100%;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

textarea {
  padding: 5px 0 0 8px;
  height: 30px;
  font-size: 14px;
  border: 1px solid #a9a9a9;
  width: 300px;
}

select {
  height: 30px;
  width: 300px;
  font-size: 14px;
  border: 1px solid #a9a9a9;
}

input[type=checkbox] {
  margin: 0px 0px 0px 0px;
  height: 24px;
  width: 24px;
}

input[type=text] {
  font-size: 14px;
  border: 1px solid #a9a9a9;
}

p {
  padding-bottom: 15px;
}

#hiddenDiv {
  float: left;
  width: 0px;
  height: 0px;
  overflow: hidden;
  visibility: hidden;
}

.container, .containerFlex {
  margin: 0 auto 0 auto;
  height: 100%;
  overflow: hidden;
}

.containerFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
}

@media screen and (max-width: 359px) {
  .container, .containerFlex {
    width: 360px;
  }
}
@media screen and (min-width: 360px) and (max-width: 979px) {
  .container, .containerFlex {
    width: 100%;
  }
}
@media screen and (min-width: 980px) and (max-width: 1270px) {
  .container, .containerFlex {
    width: 980px;
  }
}
@media screen and (min-width: 1128px) {
  .container, .containerFlex {
    width: 1128px;
  }
}
.paper {
  width: 100%;
  border: 1px solid #f0f0e0;
  border-radius: 1px;
  background-color: #ffffff;
  padding: 30px 30px 30px 30px;
  margin: 15px 0 15px 0;
  overflow: hidden;
}

.paper_1_2 {
  width: 100%;
  border: 1px solid #f0f0e0;
  border-radius: 1px;
  background-color: #ffffff;
  padding: 30px 30px 30px 30px;
  margin: 15px 0 15px 0;
  overflow: hidden;
  width: 548px;
}

.paper .header,
.paper_1_2 .header {
  width: 100%;
  border: 1px solid #f0f0e0;
  border-radius: 1px;
  background-color: #ffffff;
  padding: 30px 30px 30px 30px;
  margin: 15px 0 15px 0;
  overflow: hidden;
  padding: 0 24px 24px 0;
  margin: 15px 0 24px 0;
  border-bottom: 1px solid #e4e4e4;
}

.paperL_1_2 {
  border: 1px solid #f0f0e0;
  border-radius: 1px;
  background-color: #ffffff;
  margin: 15px 0 15px 0;
  overflow: hidden;
  float: left;
  padding: 30px 30px 30px 30px;
  width: 564px;
  border-right: 1px solid #f0f0e0;
}

.paperR_1_2 {
  border: 1px solid #f0f0e0;
  border-radius: 1px;
  background-color: #ffffff;
  margin: 15px 0 15px 0;
  overflow: hidden;
  float: left;
  padding: 30px 30px 30px 30px;
  width: 564px;
  border-left: 0px;
}

.paperRow {
  width: 100%;
}

@media screen and (min-width: 360px) and (max-width: 979px) {
  .paper {
    padding: 24px 10px 24px 10px;
  }
}
.paperDemo {
  width: 100%;
  border: 1px solid #f0f0e0;
  border-radius: 1px;
  background-color: #ffffff;
  padding: 30px 30px 30px 30px;
  margin: 15px 0 15px 0;
  overflow: hidden;
  margin: 15px 0 15px 0;
  padding: 12px 12px 12px 12px;
  font-weight: 600;
  color: #156cef;
  font-size: 1.3rem;
}

.lightButton {
  background-color: #dfe6ed;
  height: 26px;
  padding: 7px 16px 8px 16px;
  color: #55677d;
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  font-size: 12px;
}

.lightButton:hover {
  background-color: #cfd6dd;
}

.lightButton:disabled {
  background-color: #eeeeee;
  color: #cccccc;
}

.blueButton {
  height: 30px;
  background-color: #5181b8;
  padding: 7px 16px 8px 16px;
  border: 0px;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}

.blueButton:hover {
  background-color: #6191c8;
}

.blueButton:disabled {
  background-color: #c8c8c8;
}

.redButton {
  height: 30px;
  background-color: #ff6864;
  padding: 7px 16px 8px 16px;
  border: 0px;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}

.redButton:hover {
  background-color: #ff7874;
}

.redButton:disabled {
  background-color: #c8c8c8;
}

.formRow, .labelRow {
  width: 100%;
  min-width: 240px;
  min-height: 38px;
  margin: 16px 0 16px 0;
}
.formRow .label, .labelRow .label {
  float: left;
  min-width: 20px;
  height: 38px;
  padding: 0px 6px 0 6px;
  line-height: 38px;
}
.formRow .label:first-child, .labelRow .label:first-child {
  width: 200px;
  padding-left: 0px;
}
.formRow .label p, .labelRow .label p {
  line-height: 38px;
}
.formRow .text p, .labelRow .text p {
  line-height: 38px;
}
.formRow .control, .labelRow .control, .formRow .controlChk, .labelRow .controlChk {
  height: 38px;
  min-width: 10px;
  float: left;
}
.formRow .controlChk, .labelRow .controlChk {
  padding-top: 6px;
}

.labelRow {
  min-height: 25px;
  margin: 10px 0 10px 0;
}
.labelRow .label {
  float: left;
  min-width: 20px;
  height: 25px;
  padding: 0;
}
.labelRow .label p {
  line-height: 25px;
}
.labelRow .label:first-child {
  width: 260px;
  padding: 0;
}

#idBodyHeader {
  position: relative;
  width: 100%;
  background-color: #090e40;
  color: #FFFFFF;
  font-size: 1rem;
}

#idBodyHeader .colTitle {
  height: 64px;
  min-width: 196px;
  float: left;
  padding: 20px 0 0 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
}

#idBodyHeader .colTitle a {
  text-decoration: none;
  color: #ffffff;
}

@media screen and (min-width: 360px) and (max-width: 979px) {
  #idBodyHeader .colTitle {
    font-size: 1.25rem;
    width: 178px;
  }
}
#idBodyHeader .colEnter {
  height: 100%;
  float: right;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
}

#idBodyHeader .colEnter a {
  display: block;
  padding: 20px 10px 0 10px;
  height: 100%;
  color: #ffffff;
  text-decoration: none;
  box-sizing: border-box;
}

#idBodyHeader .colEnter a:hover {
  background-color: #3d6898;
  text-decoration: underline;
  height: 100%;
}

#idBodyHeader .colEnter a:visited {
  color: #ffffff;
}

#idBodyHeader .avatar {
  font-size: 0.9rem;
  float: right;
  min-width: 120px;
  border-left: 1px solid #555555;
  padding: 3px 0 3px 4px;
  height: 64px;
}
#idBodyHeader .avatar .colImg {
  float: right;
  padding: 4px 0px 0 4px;
}
#idBodyHeader .avatar .colImg img {
  border-radius: 25px;
}
#idBodyHeader .avatar .col1 {
  padding: 4px 0 0 0;
  float: right;
  width: 140px;
  color: #ffffff;
}
#idBodyHeader .avatar .col1 a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}
#idBodyHeader .avatar .col1 a:hover {
  color: #ffffff;
  text-decoration: underline;
  font-weight: 600;
}
#idBodyHeader .avatar .col2 {
  padding: 4px 0 0 0;
  float: right;
}
#idBodyHeader .avatar .col2 .row {
  height: 12px;
  color: #ffffff;
}
#idBodyHeader .avatar .col2 .row .hour {
  float: left;
  width: 30px;
  color: #ffffff;
  text-align: right;
}
#idBodyHeader .avatar .col2 .row .value {
  width: 36px;
  float: left;
  color: #ffffff;
  text-align: right;
  padding-right: 6px;
}
#idBodyHeader .avatar .col2 .counter {
  color: #ffffff;
}

@media screen and (min-width: 360px) and (max-width: 979px) {
  #idBodyHeader .colTitle {
    font-size: 1.25rem;
    width: 178px;
    padding-left: 4px;
  }
}
#idBodyHeader2 {
  min-height: 64px;
  width: 100%;
  background-color: #ffffff;
  position: relative;
}
#idBodyHeader2 .colMenu {
  float: left;
}
#idBodyHeader2 .colMenu .point {
  float: left;
  font-size: 1rem;
  font-weight: 500;
  display: block;
  padding: 23px 12px 0 12px;
  height: 100%;
  color: #242425;
}
#idBodyHeader2 .colMenu .pointDisabled {
  float: left;
  font-size: 1rem;
  font-weight: 500;
  display: block;
  padding: 23px 12px 0 12px;
  height: 100%;
  color: #959595;
}
#idBodyHeader2 .colMenu a {
  cursor: pointer;
  text-decoration: none;
}
#idBodyHeader2 .colMenu .client {
  font-weight: 800;
  font-size: 1.2rem;
}
#idBodyHeader2 .colMenu a:hover {
  box-sizing: border-box;
  text-decoration: none;
  color: #439aff;
}
#idSiteFooter {
  float: left;
  height: 66px;
  color: #4a76a8;
  font-size: 14px;
  width: 100%;
  padding: 15px 0 15px 0;
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
  border-radius: 2px;
  padding: 15px 15px 15px 15px;
}

@media screen and (min-width: 360px) and (max-width: 979px) {
  #idSiteFooter {
    height: 82px;
  }
}
#idSiteMain {
  width: 100%;
  padding: 24px 0 24px 0;
}

#idBodyMain {
  width: 1100px;
  min-height: 400px;
  margin: 24px 0 24px 0;
  background-color: #ffffff;
  border: 0px solid #d7d8db;
  border-radius: 0px;
  padding: 0px 0px 0px 0px;
}

#idBodyMain2 {
  width: 1100px;
  min-height: 400px;
  margin: 15px auto 15px auto;
  background-color: #ebeced;
  padding: 0px 0px 0px 0px;
}

#idBodyMain2 .column2 {
  float: left;
  margin-left: 20px;
  width: 880px;
}

#idBodyMain2 .Main {
  float: left;
  width: 880px;
  min-height: 400px;
  background-color: #ffffff;
  border: 1px solid #d7d8db;
  border-radius: 2px;
  padding: 0px 0px 0px 0px;
}

.listHeader {
  padding: 0 20px 0 20px;
  width: 100%;
}

.paper_1_3_img {
  width: 356px;
  height: 355px;
  margin-bottom: 30px;
  padding: 0;
  border-radius: 1px;
  border: 1px solid #e0e2e4;
  background-color: #ffffff;
}

.paper_1_3_hidden {
  width: 356px;
  height: 355px;
  margin-bottom: 30px;
  padding: 0;
  border-radius: 1px;
}

.paper_1_3_img .boxText {
  padding: 24px 24px 24px 24px;
}
.paper_1_3_img .boxText p {
  padding-top: 1px;
}

.BarHead {
  width: 100%;
  height: 55px;
  font-size: 16px;
  padding: 0 20px 0 20px;
  border-bottom: 1px solid #e7e8ec;
  color: #000000;
  text-align: left;
  display: table;
}

.BarHead .text {
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
}

.BarClearHead2 {
  width: 100%;
  height: 16px;
}

.BarSelectAlbums {
  width: 100%;
  overflow: hidden;
}

.BarClearAlbumProp {
  height: 16px;
  width: 100%;
  border-bottom: 1px solid #e7e8ec;
}

.SrcAlbumColumn {
  float: left;
  width: 350px;
  padding: 15px 20px 15px 20px;
  border-right: 1px solid #e7e8ec;
}

.ColumnSrcHead {
  width: 100%;
  height: 32px;
  text-align: center;
}

.DestAlbumColumn {
  float: left;
  width: 430px;
  padding: 15px 20px 15px 20px;
}

.ColumnDestHead {
  width: 100%;
  height: 32px;
  text-align: center;
}

.getUrlRow {
  height: 50px;
  width: 100%;
  overflow: hidden;
}

#idTxtGetUrl {
  width: 500px;
}

.getUrlRowSelectOffset {
  width: 100%;
  height: 50px;
  margin-top: 100px;
}

.getUrlTxtOffset {
  font-size: 12px;
  margin: 2px 0 4px 0;
}

#idSelectOffset {
  height: 24px;
  width: 50px;
  font-size: 12px;
}

.getUrlRowButtonStart {
  width: 100%;
  height: 50px;
  margin-top: 100px;
}

.getUrlButtonGo {
  margin: 0 0 0 140px;
}

.DestRowGroup {
  position: relative;
  height: 50px;
  overflow: hidden;
  width: 100%;
}

.txtGroup {
  font-size: 12px;
  margin: 2px 0 4px 0;
}

#idSelectGroup {
  float: left;
  height: 30px;
  width: 300px;
}

#idImgDestGroupPhoto50 {
  position: absolute;
  left: 318px;
  top: 0px;
  height: 50px;
  width: 50px;
  margin: 0 0 0 0px;
}

.DestRowAlbum {
  position: relative;
  height: 50px;
  overflow: hidden;
  width: 100%;
  margin: 20px 0 0 0;
}

.txtAlbum {
  font-size: 12px;
  margin: 2px 0 4px 0;
}

#idSelectAlbum {
  float: left;
  height: 30px;
  width: 300px;
}

#idChkOldAlbum {
  position: absolute;
  left: 318px;
  top: 28px;
}

.DestRowNewAlbum {
  position: relative;
  height: 50px;
  overflow: hidden;
  width: 100%;
  margin: 20px 0 0 0;
}

.txtNewAlbum {
  font-size: 12px;
  margin: 2px 0 4px 0;
}

#idTxtNewAlbum {
  height: 30px;
  width: 300px;
}

#idChkNewAlbum {
  position: absolute;
  left: 318px;
  top: 28px;
}

.DestRowDate {
  position: relative;
  height: 54px;
  overflow: hidden;
  width: 100%;
  margin: 20px 0 0 0;
}

.txtDate {
  font-size: 12px;
  margin: 2px 0 4px 0;
}

#idDate {
  height: 30px;
  width: 300px;
}

#idChkDate {
  position: absolute;
  left: 318px;
  top: 28px;
}

.SelectAllButtons {
  float: right;
}

#idButtonSelectAll {
  float: right;
  margin: 0 0 0 0;
}

#idButtonUnselectAll {
  float: right;
  margin: 0 15px 0 0;
}

#HiddenData {
  position: absolute;
  visibility: hidden;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.HiddenInner {
  position: absolute;
  visibility: hidden;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.ImgPreview {
  position: relative;
  height: 100%;
}

.ImgPreview .chekbox {
  position: absolute;
  bottom: 6px;
  left: 6px;
}

.ImgPreview .tick {
  position: absolute;
  bottom: 6px;
  right: 6px;
  visibility: hidden;
  height: 64px;
  width: 64px;
}

#spanLoadedValue1ID, #spanLoadedValue2ID {
  color: #FF0000;
  font-weight: bold;
}

#spanTimerID {
  color: #FF0000;
  font-weight: bold;
}

.Calendar .selCalendarDay {
  font-size: 1.125rem;
  font-weight: 400;
  width: 48px;
  height: 100%;
  float: left;
  margin-left: 0;
}
.Calendar .selCalendarMonth {
  font-size: 1.125rem;
  font-weight: 400;
  width: 80px;
  height: 100%;
  float: left;
  margin-left: 8px;
}
.Calendar .selCalendarYear {
  font-size: 1.125rem;
  font-weight: 400;
  width: 64px;
  height: 100%;
  float: left;
  margin-left: 8px;
}
.Calendar .selCalendarHour {
  font-size: 1.125rem;
  font-weight: 400;
  width: 48px;
  height: 100%;
  float: left;
  margin-left: 56px;
}
.Calendar .selCalendarMinut {
  font-size: 1.125rem;
  font-weight: 400;
  width: 48px;
  height: 100%;
  float: left;
  margin-left: 0px;
}

.mt12 {
  margin-top: 12px;
}

.mt16 {
  margin-top: 16px;
}

.mt24 {
  margin-top: 24px;
}

.mt32 {
  margin-top: 32px;
}

.mt50 {
  margin-top: 50px;
}

.ml8 {
  margin-left: 8px;
}

.ml12 {
  margin-left: 12px;
}

.ml16 {
  margin-left: 16px;
}

.ml24 {
  margin-left: 24px;
}

.marginAuto {
  margin: 0px auto 0px auto;
  float: none !important;
}

/*============================================*/
/*reboot.css*/
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1rem;
    font: inherit;
    vertical-align: baseline;
    color: #000000;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
    box-sizing: border-box;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    line-height: 1.15;
}

img, button, input, label, select, textarea {
    display: block;
}

html, body, div, form, table,
img, button, input, label, select, textarea {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0px solid #000000;
}

button, input, label, select, textarea {
    border: 1px solid #e0e0e0;
}

textarea {
    padding: 5px 0 0 8px;
}

!*типичная синяя кнопка*!
.blueButton {
    height: 30px;
    background-color: #5181b8;
    padding: 7px 16px 8px 16px;
    border: 0px;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    width: 80px;
}

.blueButton:hover {
    background-color: #6191c8;
}

!*типчиный инпут*!
input {
    padding: 0 0 0 6px;
    font-size: 0.875rem;
    border:  1px solid #e0e0e0;
}*/
/*============================================*/
h1 {
  font-size: 20px;
}

.bodyFullWidth {
  width: 100%;
  min-height: 100vh;
  background: #f0f2f7;
}

.bodyJobWidth {
  width: 1000px;
  background: white;
  border: 1px solid #dddddd;
  margin: 0 auto 0 auto;
  min-height: 100vh;
}

/*============================================*/
/* используется как outer при выранивании текста в блоке */
.vertical-align div {
  display: inline-block;
  vertical-align: middle;
  max-width: 96%;
  /* При 100% съезжает верстка */
}

.vertical-align:before {
  content: "";
  display: inline-block;
  min-height: inherit;
  height: 100%;
  vertical-align: middle;
}

/*====================================================================*/
.p01 {
  /*-----------------------------*/
}
.p01 .workersTableFilter {
  margin: 0 4px 0 4px;
  height: 100px;
  padding: 10px 0 0 4px;
  border-bottom: 1px solid #dcdce6;
}
.p01 .workersTableFilter__row {
  height: 32px;
}
.p01 .workersTableFilter__label {
  float: left;
  height: 100%;
}
.p01 #workersTableFilter__calendar {
  height: 24px;
  font-size: 14px;
  float: left;
  margin-left: 10px;
}
.p01 #workersTableFilter__curMonthButton {
  float: left;
  margin-left: 10px;
  height: 24px;
  width: 120px;
  font-size: 12px;
}
.p01 .workersTable {
  margin: 12px 20px 12px 20px;
  border-top: 1px solid #dcdce6;
}
.p01 .workersTable__row {
  display: block;
  /*по ширине содержимого*/
  float: left;
  /*по ширине содержимого*/
  height: 64px;
  border-bottom: 1px solid #dcdce6;
  padding: 0px 6px 0px 6px;
}
.p01 .workersTable__cell, .p01 .workersTable__totalSalary, .p01 .workersTable__totalSalary_header, .p01 .workersTable__bonusSalary, .p01 .workersTable__bonusSalary_header, .p01 .workersTable__fixSalary, .p01 .workersTable__fixSalary_header, .p01 .workersTable__profession, .p01 .workersTable__profession_header, .p01 .workersTable__family, .p01 .workersTable__family_header, .p01 .workersTable__name, .p01 .workersTable__name_header, .p01 .workersTable__idWorker, .p01 .workersTable__idWorker_header, .p01 .workersTable__foto {
  float: left;
  height: 48px;
  /* вычитаем margin */
  padding: 14px 6px 0 6px;
  margin: 8px 0 8px 0;
  border-left: 1px solid #dcdce6;
}
.p01 .workersTable__foto {
  padding-top: 0px;
  width: 66px;
  /*margin: 8px 0 0 0;*/
  border-left: 0px;
  /*уберем лишний бордер*/
}
.p01 .workersTable__idWorker, .p01 .workersTable__idWorker_header {
  width: 50px;
  text-align: right;
}
.p01 .workersTable__idWorker_header {
  text-align: center;
  padding: 20px 0 0 0;
}
.p01 .workersTable__name, .p01 .workersTable__name_header {
  width: 120px;
}
.p01 .workersTable__name_header {
  text-align: center;
  padding: 20px 0 0 0;
}
.p01 .workersTable__family, .p01 .workersTable__family_header {
  width: 160px;
}
.p01 .workersTable__family_header {
  text-align: center;
  padding: 20px 0 0 0;
}
.p01 .workersTable__profession, .p01 .workersTable__profession_header {
  width: 100px;
}
.p01 .workersTable__profession_header {
  text-align: center;
  padding: 20px 0 0 0;
}
.p01 .workersTable__fixSalary, .p01 .workersTable__fixSalary_header {
  width: 80px;
  text-align: right;
}
.p01 .workersTable__fixSalary_header {
  text-align: center;
  padding: 20px 0 0 0;
}
.p01 .workersTable__bonusSalary, .p01 .workersTable__bonusSalary_header {
  width: 80px;
  text-align: right;
}
.p01 .workersTable__bonusSalary_header {
  text-align: center;
  padding: 20px 0 0 0;
}
.p01 .workersTable__totalSalary, .p01 .workersTable__totalSalary_header {
  width: 80px;
  text-align: right;
}
.p01 .workersTable__totalSalary_header {
  text-align: center;
  padding-top: 20px;
}

/*# sourceMappingURL=styles.css.map */
