@charset "UTF-8";
/*@import "reset.scss";*/
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/openSans/OpenSans-Light.woff2") format("woff2"), url("../fonts/openSans/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/openSans/OpenSans-Regular.woff2") format("woff2"), url("../fonts/openSans/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/openSans/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/openSans/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/openSans/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/openSans/OpenSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/openSans/OpenSans-Bold.woff2") format("woff2"), url("../fonts/openSans/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
.h1, h1 {
  font-size: 2.5rem;
}

.h2, h2 {
  font-size: 1.875rem;
}

.h3, h3 {
  font-size: 1.5rem;
}

.h4, h4 {
  font-size: 1.25rem;
}

.h5, h5 {
  font-size: 1.125rem;
}

.h6, h6 {
  font-size: 1rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  color: #090e40;
  padding-bottom: 8px;
  font-weight: 600;
}

.textDisabled {
  color: #959595;
}

.textBold {
  font-weight: 600;
}

.textRed {
  color: #ff0000;
  font-weight: 600;
}

.textBlue {
  color: #439aff;
  font-weight: 600;
}

.textYellow {
  color: #f5a623;
  font-weight: 600;
}

.textGreen {
  color: #7ed321;
  font-weight: 600;
}

.fs10 {
  font-size: 10px;
}

.fs24 {
  font-size: 24px;
}

.em08 {
  font-size: 0.8em;
}

.colorLGrey {
  color: #0A0A0A;
}

/*стили для всего сайта, не связанны с конкретной страницей
	применять с Bootstrap
*/
/*
$bodyBackground: #f0f2f7;
$backgroundBlueHover: #f5f7fa;
$controlBorder: 1px solid #a9a9a9;

$graySupelight:	#ededed;	//серая граница между белым и белым, еле заметна
*/
.site-full-width {
  width: 100%;
  min-height: 100vh;
  background: #373B40;
}

.site-job-width {
  background: white;
  min-height: 100vh;
  /*border: 1px solid #dddddd;*/
}

.site-header {
  border-radius: 0;
  border-bottom: 1px solid #b6c6d2;
}

/*============================================*/
h1 {
  font-size: 24px;
}

/*============================================*/
/* используется как outer при выранивании текста в блоке */
.vertical-align div {
  display: inline-block;
  vertical-align: middle;
  max-width: 96%;
  /* При 100% съезжает верстка */
}

.vertical-align:before {
  content: "";
  display: inline-block;
  min-height: inherit;
  height: 100%;
  vertical-align: middle;
}

/*====================================================================*/
.p01 .comments-header-row {
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #b6c6d2;
  margin-bottom: 0;
}
.p01 .select-order-mode {
  font-size: 0.9rem;
  /*не влазит немного*/
}
.p01 .comment {
  padding: 10px 0 20px 0;
  border-bottom: 1px solid #b6c6d2;
}
.p01 .comment .header-user {
  font-size: 0.9rem;
  /*font-weight: bold;*/
}
.p01 .comment .name {
  font-weight: bold;
}
.p01 .comment .edited {
  font-style: italic;
}
.p01 .comment .header-admin {
  /*@extend .text-md-right;*/
}
.p01 .comment .row-text {
  padding: 15px 0 15px 0;
}
.p01 .comment .header-user p {
  margin-bottom: 0;
}

/*# sourceMappingURL=styles.css.map */
